#Commented entries (lines with # at the beginneng) denote default values unless otherwise stated,
#delete the # to change the parameters.

acq: {
	method = "VID"; #one of CAM, IMGS, VID, LIVESIM required, no default
	imgPath = "E:/data/Endo-trainer/Britty_0_Deg_ST_proper_Aux.avi"; #required for IMGS, LIVESIM and VID, no default
	#startFrame = 1;
	#lastFrame = 0; # 0 Means take all frames
	#fps=24.0;
};

detector: {
	useProportionalShift = true; #Sets scanwindows off by a percentage value of the window dimensions (specified in proportionalShift) rather than 1px.
	proportionalShift = 0.05;
	minScale = -3; #number of scales smaller than initial object size
	maxScale = 3; #number of scales larger than initial object size
	#numFeatures = 10; #number of features
	#numTrees = 10; #number of trees
	minSize = 25; #minimum size of scanWindows
	thetaP = 0.7;
	thetaN = 0.4;
	#varianceFilterEnabled = true;
	#ensembleClassifierEnabled = true;
	#nnClassifierEnabled = true;
};

#trackerEnabled = true;
#loadModel = false; #If true, model specified by "modelPath" is loaded at startup
#modelPath = "/home/georg/Dropbox/AIT/tld/code/tld/src/m/model"; # no default, if modelPath is not set then either an initialBoundingBox must be specified or selectManually must be true. 
/*initialBoundingBox = [100, 100, 100, 100];*/ # No default, initial Bounding Box can be specified here
#selectManually = false; #If true, user can select initial bounding box (which then overrides the setting "initialBoundingBox")

threshold = 0.6; #Threshold for determining positive results
#learningEnabled = true; #Enables learning while processing
#trajectory = 20; #Specifies the number of the last frames which are considered by the trajectory; 0 disables the trajectory
#showOutput = true; #Creates a window displaying results
#showNotConfident=true; #Show bounding box also if confidence is low
showColorImage = true; #Shows color images instead of greyscale
showForeground = true; #Shows foreground
#saveOutput = false; #Specifies whether to save visual output
#saveDir = "path/to/output/"; #required if saveOutput = true, no default
printResults = "E:/data/Endo-trainer/Result/Britty_0_Deg_ST_proper_Aux.txt"; #If commented, results will not be printed
#printTiming = "path/to/timingFile"; #If commented, timing will not be printed
alternating = false; #If set to true, detector is disabled while tracker is running.
exportModelAfterRun = false; #If set to true, model is exported after run.
modelExportFile="model1"; #File model is exported to
#seed=0;

# extra entries
PEGBOUNDINGBOX_X = 160;
PEGBOUNDINGBOX_Y = 240;
PEGBOUNDINGBOX_WIDTH = 830;
PEGBOUNDINGBOX_HEIGHT = 550;
PEGSATURATION_MINVALUE = 120;
MIN_PEG_SIZE =  25;
HUE_THRESHVAL_RING = 20.0;
STABLE_COUNT = 5;
TLD_WITH_TRACKER_ONLY = 0;
STATIONARY_FRAME_COUNT = 20;
CONSECUTIVE_FRAME_COUNT = 10;
NO_OF_IMAGES_HITTING_DETECTION = 10;
HITTING_THRESHOLD = 30;
